arxiv==2.2.0
arxiv2text==0.1.14
fitz==0.0.1.dev2
json_repair==0.47.1
numpy==2.3.0
pandas==2.3.0
pathlib==1.0.1
pydantic==2.11.7
PyMuPDF==1.26.1
PyPDF2==3.0.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.4
scikit-learn==1.7.0
scipy==1.15.3
tiktoken==0.9.0
tqdm==4.67.1
dotenv==0.9.9
